@charset "utf-8";
html, body, div, span,  h1, h2, h3, h4, h5, h6, p, em, img, b, i, ul, li, fieldset, table,  tbody, tfoot, thead, tr, th, td {padding:0px;margin:0px;font-family:microsoft yahei; list-style:none;}
html, body {width:100%; background:#f8f8f8;}
.header_blk{width:100%; background:#2e95d3; text-align:left; border:1px solid #0080cc;padding:0px;margin:0px;}
.header_blk img{width:100%;max-width:720px; height:auto;}

/*内容区域*/
.area_blk{margin:10px;padding:10px; height:auto; }
.area_blk h2{font-size:1.6em; color:#fff; background:#1f95db;border-left:6px solid #0CF; border-right:6px solid #0cf; display:inline-block;padding:3px 8px; margin-top:10px;}
.area_tit{padding:5px; margin:auto; text-align:center;}
.area_tit h3{font-size:2.4em;margin:3px auto; color:#0080cc; font-weight:lighter;}
.area_tit img{width:100%;max-width:700px; height:auto;}

/*样式1*/
.infostyle1{font-size:1.4em;padding:10px 0px;margin-bottom:20px; height:auto; overflow:hidden;}
.infostyle1 li{width:50%;float:left; display:inline-block; color:#666; line-height:2.4em;}
.infostyle1 li span{ color:#0080cc;}
.infostyle1_clum1{width:100% !important; display:block !important;}

/*样式2*/
.infostyle2{margin:20px auto 10px auto; width:98%;}
.infostyle2,.infostyle2 th,.infostyle2 td{line-height:2em; border:1px solid #ddd; border-collapse:collapse;}
.infostyle2 th{ font-size:1.4em;padding:0px 10px; color:#4d9fd0; background:#e3fcfc; font-weight:600;}
.infostyle2 td{ font-size:1.4em; color:#666;padding:0px 10px; font-weight:lighter; background:#fff;}
.infostyle2 tr:nth-child(odd) td{background-color:#f8f8f8;}


/*分页*/
.ctrl_page{margin:10px auto; text-align:center;}
.ctrl_page a,.ctrl_page a:link,.ctrl_page a:active,.ctrl_page a:visited{ border:1px solid #ddd; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; display:inline-block; font-size:1.4em;margin:0px 8px; text-decoration:none;padding:8px 30px; line-height:1.4em; color:#666; text-align:center;}
.ctrl_page a:hover{ border:1px solid #2e95d3; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; background:#3fa8e8; color:#fff; text-align:center;}

/*控制不显示*/
.hidden{ display:none;}